<!doctype html>
<html ng-app="intranet">
<head>
    <meta charset="UTF-8">
    
    <title>Intranet</title>
    
    <link rel=stylesheet type=text/css href="css/reset.css">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="http://underscorejs.org/underscore-min.js"></script>
    <script src="https://code.angularjs.org/latest/angular.min.js"></script>
    <script src="app/intranet/intranet.js"></script>
    <script src="app/intranet/servis.js"></script>
    
    <style>
        .ikonka{
            font-size:20px;
            color:darkgreen;
        }
        .role:hover{
            cursor: pointer;
        }
    </style>
</head>
<body ng-controller="mainCtrl">
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="" ng-click="panel = true">Intranet</a>
            </div>
            <ul class="nav navbar-nav navbar-right" ng-show="!loggedOut">
                <li><a href="">{{login}}</a></li>
                <li><a href="" ng-click="logOut()">logout</a></li>
                
            </ul>
            <ul class="nav navbar-nav" ng-show="!loggedOut && firstFour">
                <li><a href="">Pedagogika</a></li>
                <li><a href="">Doktorandi</a></li>
                <li><a href="">Publikácie</a></li>
                <li><a href="">Služobné cesty</a></li>
            </ul>
            <ul class="nav navbar-nav" ng-show="!loggedOut && purchases">
                <li><a href="">Nákupy</a></li>
            </ul>
            <ul class="nav navbar-nav" ng-show="!loggedOut && attendance">
                <li><a href="../z1/client/index.html">Dochádzka</a></li>
            </ul>
            
        </div>
    </nav>
    <div ng-show="loggedOut">
        <form name="ldapLogin" class="form-horizontal">
            <div class="form-group">
                <label for="login" class="control-label col-sm-3">login</label>
                <div class="col-sm-6">
                    <input type="text" ng-model="login" class="form-control" name="login" ng-change="loginState = ''" required ng-class="{'pass': loginState == 'wrongLogin'}">
                </div>
            </div> 
            <div class="form-group">
                <label for="password" class="control-label col-sm-3">password</label>
                <div class="col-sm-6">
                    <input type="password" ng-model="password" class="form-control" name="password" ng-change="loginState = ''" required ng-class="{'pass': loginState == 'wrongLogin'}">
                </div>
            </div> 
            <div class="form-group">
                <div class="col-sm-offset-3 col-sm-9">
                    <button class="btn btn-success" ng-click="submit('ldapLogin')" ng-disabled="ldapLogin.$invalid">login</button>
                </div>
            </div>
        </form>
    </div>
    
    <div ng-show="panel">
        <div ng-show="mediaUpload">
            <h3>Pridávanie Obrázkov a Videí</h3>
            <div class="file-upload">
                <div class="col-md-4 form-group">
                    <label for="date">Dátum:</label>
                    <input class="form-control" name="date" type="text" ng-model="fileForm.date">
                </div>
                <div class="col-md-4 form-group">
                    <label for="sktitle">SK-Titul:</label>
                    <input class="form-control" name="sktitle" type="text" ng-model="fileForm.skTitle">
                </div>
                <div class="col-md-4 form-group">
                    <label for="entitle">EN-Titul:</label>
                    <input class="form-control" name="entitle" type="text" ng-model="fileForm.enTitle">
                </div>
                <div class="col-md-4 form-group">
                    <label for="folder">Názov zložky:</label>
                    <input class="form-control" name="folder" type="text" ng-model="fileForm.folderName">
                </div>
                <div class="col-md-4 form-group">
                    <label for="pickFile">Vyber súbor:</label>
                    <input name="pickFile" class="form-control" type="file" file-model="myFile"/>
                </div>
                <div class="col-md-4 form-group">
                    <label for="button">Uploadni súbor na server:</label>
                    <button name="button" class="btn btn-success form-control" ng-click="uploadFile()">Nahrať obrázok</button>
                </div>
            </div>
            <div>
                <div class="col-md-3 form-group">
                    <label for="title">Názov:</label>
                    <input class="form-control" name="title" type="text" ng-model="videoForm.title">
                </div>
                <div class="col-md-3 form-group">
                    <label for="url">URL:</label>
                    <input class="form-control" name="url" type="text" ng-model="videoForm.url">
                </div>
                <div class="col-md-3 form-group">
                    <label for="type">Typ:</label>
                    <input class="form-control" name="type" type="text" ng-model="videoForm.type">
                </div>
                <div class="col-md-3 form-group">
                    <label for="button">Nahraj video:</label>
                    <button name="button" class="btn btn-success form-control" ng-click="saveVideo()">Uložiť video</button>
                </div>
            </div>
        </div>
        <div ng-show="roleEdit">
            <h3>Editovanie rolí používateľov</h3>
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>User</th>
                        <th>HR</th>
                        <th>Reporter</th>
                        <th>Editor</th>
                        <th>Admin</th>
                        <th>Modify</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="userRole in userRoles track by $index">
                        <td>{{userRole.staff_id}}</td>
                        <td class="role" ng-click="setRole($index,0, !userRole.roles[0])"><span class="glyphicon glyphicon-ok ikonka" ng-show="userRoles[$index].roles[0]"></span></td>
                        <td class="role" ng-click="setRole($index,1, !userRole.roles[1])"><span class="glyphicon glyphicon-ok ikonka" ng-show="userRoles[$index].roles[1]"></span></td>
                        <td class="role" ng-click="setRole($index,2, !userRole.roles[2])"><span class="glyphicon glyphicon-ok ikonka" ng-show="userRoles[$index].roles[2]"></span></td>
                        <td class="role" ng-click="setRole($index,3, !userRole.roles[3])"><span class="glyphicon glyphicon-ok ikonka" ng-show="userRoles[$index].roles[3]"></span></td>
                        <td class="role" ng-click="setRole($index,4, !userRole.roles[4])"><span class="glyphicon glyphicon-ok ikonka" ng-show="userRoles[$index].roles[4]" ></span></td>
                        <td><button class="btn btn-success col-md-12" ng-click="saveRoles($index)">Save</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div ng-show="userEdit">
            <h3>Editovanie zamestnancov</h3>
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Meno</th>
                        <th>Priezvisko</th>
                        <th>Titul1</th>
                        <th>Titul2</th>
                        <th>Login</th>
                        <th>Miestnosť</th>
                        <th>Telefón</th>
                        <th>Oddelenie</th>
                        <th>Zamestnanie</th>
                        <th>Funkcia</th>
                        <th>Zmena</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="user in staff track by $index">
                        <td>{{user.id}}</td>
                        <td>{{user.name}}</td>
                        <td>{{user.surname}}</td>
                        <td><input style ="width: 80px" type="text" value="{{user.title1}}" ng-model="staff[$index].title1"></td>
                        <td><input style ="width: 50px" type="text" value="{{user.title2}}" ng-model="staff[$index].title2"></td>
                        <td><input style ="width: 100px" type="text" value="{{user.ldapLogin}}" ng-model="staff[$index].ldapLogin"></td>
                        <td><input type="text" value="{{user.room}}" ng-model="staff[$index].room"></td>
                        <td><input type="text" value="{{user.phone}}" ng-model="staff[$index].phone"></td>
                        <td><input type="text" value="{{user.department}}" ng-model="staff[$index].department"></td>
                        <td><input style ="width: 100px" type="text" value="{{user.staffRole}}" ng-model="staff[$index].staffRole"></td>
                        <td><input type="text" value="{{user.function}}" ng-model="staff[$index].function"></td>
                        <td><button class="btn btn-success col-md-12" ng-click="saveChanges($index)">Uložiť</button></td> 
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>
